#### Functiion in Python

##### Introduction to Functions
Definatiions:

A function is a block of code that performs a specific task. Functions help in organizing code, and improving readability.

In [1]:
## Syntax
def function_name(Parameters):
    """Docstring"""
    # Function body
    return expression

In [ ]:
## why functions?
num=24
if num%2==0:
    print("The number is even")
else:
    print("The number is odd")

In [3]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("The number is odd")

In [4]:
## call this function
even_or_odd(24)

the number is even

In [1]:
## function with multiple parameters

def add(a,b):
    c=a+b
    return c

result= add(2,4)
print(result)

6

In [2]:
## Default parameters

def greet(name):
    print(f"Hello {name} welcome to the paradise")

greet("Krish")

Hello Krish welcome to the paradise

In [3]:
def greet(name="Guest"):
    print(f"Hello {name} welcome to the paradise")

greet()

Hello Guest welcome to the paradise

In [ ]:
### variable Length arguments
## positional and keywords arguments

def print_numbers(*krish):
    for number in krish:
        print(number)
print_numbers(1,2,3,4,5,6,7,"ritik")

1
2
3
4
5
6
7
ritik

In [ ]:
## Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [12]:
print_numbers(1,2,3,4,5,6,7,"ritik")

1
2
3
4
5
6
7
ritik

In [13]:
## Keywords argument

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [14]:
print_details(name="Ritik", age="32", country="India")

name:Ritik
age:32
country:India

In [16]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional argument : {val}")

    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [17]:
print_details(1,2,3,4,"ritik", name="Ritik", age="32", country="India")

 Positional argument : 1
 Positional argument : 2
 Positional argument : 3
 Positional argument : 4
 Positional argument : ritik
name:Ritik
age:32
country:India

In [1]:
## Return statements
def multiply(a,b):
    return a*b

multiply(4,5)

20

In [2]:
## return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(4,5)

(20, 4)