### Tupes

#### Introduction to Tuples

##### Explanation:
Tuples are ordered collection of items that are immutables. They are similar to lists, but their immutabillity makes them different.

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [23]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [21]:
mixed_tuple=(1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [24]:
## Accessing Tuple Elements
numbers

(1, 2, 3, 4, 5, 6)

In [8]:
print(numbers[2])
print(numbers[-1])

3
6

In [9]:
numbers[0:4]

(1, 2, 3, 4)

In [11]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [12]:
## Tuple operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello', 3.14, True)

In [25]:
mixed_tuple *3

(1, 'hello', 3.14, True, 1, 'hello', 3.14, True, 1, 'hello', 3.14, True)

In [14]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [6]:
## Immutable Nature of Tuples
## Tuples are immutables, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Ritik"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Ritik', 3, 4, 5]

In [27]:
numbers[1]="Ritik"

TypeError: 'tuple' object does not support item assignment

In [33]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## Packing and Unpacking tuple

## packing
packed_tuple=1, "hello", 3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [36]:
## unpacking a tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [37]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle, last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [39]:
##Nested List
lst=[[1,2,3,4], [5,6,7,8,9], [1, "hello", 3.14, "c"]]
print(lst[0])
print(lst[0][2])

[1, 2, 3, 4]
3

In [43]:
##Nested tuple
tpl=((1,2,3,4), (5,6,7,8,9), (1, "hello", 3.14, "c"))
print(lst[2])
print(lst[2][0:3])
print(lst[2][1])

[1, 'hello', 3.14, 'c']
[1, 'hello', 3.14]
hello

In [45]:
for sub_tuple in tpl:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3 4
5 6 7 8 9
1 hello 3.14 c

#### Conclusion

Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collecction of items is required. They are commonly used in data stuctuures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.