### Variables

Variables are fundamental elements in programming used to store data that can be refereced and manipulated in a program. InPython, variables are created when you assign a value to them, and they do not need to explicity to reserve memory space, The declaration happens automatically when you assign a value to a variable.

In [2]:
a=100

In [3]:
## Declaring And Assigning Variables

age=32
height=61
name="Riti"
is_student=True

## printing variables

print("Age : ", age)
print("Height : ", height)
print("Name : ", name)

Age :  32
Height :  61
Name :  Riti

In [4]:
## naming conventions
## variable names should be descriptive
## They must start with a letter  or an '_' and contains letters and underscores
## variables names case sensitive

##valid variable naems
first_name="Ritik"
last_name="kumar"

In [ ]:
# Invalid variable names

# 2age=30
#first-name="ritik"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3528706050.py, line 4)

In [9]:
## understanding variable types
## Python is dynamically typed type of a variable is determined at numtime

age=23 #int
height=6.1 #float
name="Ritik" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [10]:
## Type Chcecking and Conversion 
type(height)

float

In [11]:
age=25
print(type(age))

#Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [12]:
age='25'
print(type(int(age)))

<class 'int'>

In [13]:
name="ritik"\
int(name)

SyntaxError: invalid syntax (3872772837.py, line 2)

In [14]:
height=5.11
type(height)

float

In [16]:
float(int(height))

5.0

In [18]:
## Dynamic Typing
## python allows the type of a variable to change as the program exeutes
var=10
print(var, type(var))

var="Hello"
print(var, type(var))

var=3.14
print(var, type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [21]:
## input

age=int(input("What is the age"))
print(age, type(age))

23 <class 'int'>

In [22]:
num1=float(input("Enter first number "))
num2=float(input("Enter second number"))

sum= num1 + num2
sub= num1 - num2
mul= num1 * num2
div= num1 / num2

print("Sum: ", sum)
print("Sub: ", sub)
print("mul: ", mul)
print("div: ", div)

Sum:  47.0
Sub:  -1.0
mul:  552.0
div:  0.9583333333333334